body {
  font-family: Oswald;
  background-color: #fafafa;
  color: rgb(67, 67, 72);
}

.hero {
  background-color: #2c2e2f;
}

.hero h1 {
  color: #ccc;
  margin: 0;
  padding: 10px 40px 10px 35px;
  font: 800 14px "Helvetica Neue";
}

.hero h1:before {
  background: url('Lever_logo.svg') 0 0 no-repeat;
  background-size: auto 100%;
  content: '';
  height: 16px;
  width: 16px;
  position: absolute;
  left: 10px;
  top: 10px;
}

h2 {
  background: #eee;
  color: #666;
  font-size: 18px;
  padding: 20px;
  text-align: left;
  text-transform: uppercase;
}

.dropdown a {
  font-size: 20px;
}

.dropdown {
  width: 200px;
}

.big-stat {
  text-align: center;
}

.number-stat {
  font-size: 60px;
  font-weight: bold;
}

.stat-explainer {
  font-size: 20px;
}

.wassup {
  background: #dae1e8;
  font: 200 18px/26px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px;
  text-align: center;
}

.primary {
  color: #5AC3F1;
}

.secondary {
  color: #FFB758;
}

.legend {
  border-style: solid;
  border-width: 1px;
  width: 200px;
}

.todo {
  margin-left: 20px;
}

.todo h2 {
  background-color: #5AC3F1;
  color: #eee;
}

.todo span {
  color: #FFB758;
  font-size: 20px;
}

.reason {
  font-size: 20px;
}

.suggestion {
  margin-left: 10px;
  font-size: 20px;
  display: inline-block;
  font-family: 'Helvetica Neue';
}

.current-overview {
  background: #eee;
  margin-top: 40px;
  padding: 40px 0 80px;
  text-align: center;
}

.current-overview > h2 {
  display: inline-block;
}

.pipeline {
  border-style: solid;
  border-color: red;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 5em;
}

.image {
  height: 150px;
  width: 150px;
}

.top-row {
  width: 650px;
}

.pipeline-graphic {
  padding-top: 5em;
  padding-bottom: 5em;
}

.Row-Container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Row {
  flex: 1;
}

.Row.WithBorder {
  border-top: 1px solid #ddd;
  margin-top: 30px;
  padding: 20px 50px;
}

.Column-Container {
  display: flex;
  flex-direction: row;
}

.Column {
  flex: 1;
}

.Center {
  text-align: center;
}

.WithLeftMargin {
  padding-left: 20px;
}

.chart {
  padding-top: 40px;
  width: 100%;
  height: 500px;
}

.table-info {
  font: 20px Helvetica;
}

.interview-table {
  margin-left: 20px;
  margin-right: 20px;
}

.information {
  font-size: 20px;
  margin-bottom: 20px;
}

.stats {
  background-color: #eee;
  /*width: 600px;*/
  padding-bottom: 20px;
  padding-top: 20px;
}

.information {
  font-style: italic;
  font-family: 'Helvetica Neue';
  font-size: 16px;
}